huidig-productie-reva/reva/reva-bag/reva-bag-service/src/main/catalog/bag-verstrekkingen/bevragingen-apd/v20090901/BagvsRaadplegenDatumNUM-1.3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	xmlns:bagVsApdNum="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-apd/v20090901"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:antwoord-APD-NUM="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-apd/v20090901"
	xmlns:antwoord-APD-NUM-ADO="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-apd/v20090901"
	xmlns:vraag-APD-NUM-ID="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-apd/v20090901"
	xmlns:vraag-APD-NUM-Adres="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-apd/v20090901"
	xmlns:fout="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-fout/v20090901"
	name="BagVsRaadplegenDatumNUM_v20090901"
	targetNamespace="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-apd/v20090901">
	<wsdl:types>
		<xsd:schema>
			<xsd:import
				namespace="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-fout/v20090901"
				schemaLocation="../../bevragingen-fout/v20090901/ApplicatieFout-1.3.xsd" />
			<xsd:import
				namespace="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-apd/v20090901"
				schemaLocation="BagvsBevragingenAntwoordberichtApdNUM-1.3.xsd" />
			<xsd:import
				namespace="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-apd/v20090901"
				schemaLocation="BagvsBevragingenAntwoordberichtApdNUMADO-1.3.xsd" />
			<xsd:import
				namespace="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-apd/v20090901"
				schemaLocation="BagvsBevragingenVraagberichtApdNUMID-1.3.xsd" />
			<xsd:import
				namespace="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-apd/v20090901"
				schemaLocation="BagvsBevragingenVraagberichtApdNUMADOID-1.3.xsd" />
			<xsd:import
				namespace="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-apd/v20090901"
				schemaLocation="BagvsBevragingenVraagberichtApdNUMAdres-1.3.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="opvragenResponse">
		<wsdl:part name="response1"
			element="antwoord-APD-NUM:Antwoordbericht-APD-NUM" />
	</wsdl:message>
	<wsdl:message name="opvragenResponse2">
		<wsdl:part name="response2"
			element="antwoord-APD-NUM:Antwoordbericht-APD-NUM-ADO" />
	</wsdl:message>
	<wsdl:message name="opvragenResponse3">
		<wsdl:part name="response3"
			element="antwoord-APD-NUM:Antwoordbericht-APD-NUM" />
	</wsdl:message>
	<wsdl:message name="opvragenRequest">
		<wsdl:part name="request1"
			element="vraag-APD-NUM-ID:Vraagbericht-APD-NUM-ID" />
	</wsdl:message>
	<wsdl:message name="opvragenRequest2">
		<wsdl:part name="request2"
			element="vraag-APD-NUM-ID:Vraagbericht-APD-NUM-ADO-ID" />
	</wsdl:message>
	<wsdl:message name="opvragenRequest3">
		<wsdl:part
			element="vraag-APD-NUM-Adres:Vraagbericht-APD-NUM-Adres"
			name="request3" />
	</wsdl:message>
	<wsdl:message name="applicatieException">
		<wsdl:part element="fout:ApplicatieFout" name="fout" />
	</wsdl:message>
	<wsdl:portType name="IBagVsRaadplegenDatumNUM_v20090901">
		<wsdl:operation
			name="opvragenNummeraanduidingByNumIdAndActueelOrPeildatum">
			<wsdl:input message="bagVsApdNum:opvragenRequest" />
			<wsdl:output message="bagVsApdNum:opvragenResponse" />
			<wsdl:fault message="bagVsApdNum:applicatieException"
				name="fout" />
		</wsdl:operation>
		<wsdl:operation
			name="opvragenNummeraanduidingMetAdresseerbaarobjectByNumIdAndActueelOrPeildatum">
			<wsdl:input message="bagVsApdNum:opvragenRequest2" />
			<wsdl:output message="bagVsApdNum:opvragenResponse2" />
			<wsdl:fault message="bagVsApdNum:applicatieException"
				name="fout" />
		</wsdl:operation>
		<wsdl:operation
			name="zoekenNummeraanduidingByPostcodeHuisnummerAndActueelOrPeildatum">
			<wsdl:input message="bagVsApdNum:opvragenRequest3" />
			<wsdl:output message="bagVsApdNum:opvragenResponse3" />
			<wsdl:fault message="bagVsApdNum:applicatieException"
				name="fout" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BagVsApdNumSOAPBinding"
		type="bagVsApdNum:IBagVsRaadplegenDatumNUM_v20090901">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation
			name="opvragenNummeraanduidingByNumIdAndActueelOrPeildatum">
			<soap:operation
				soapAction="http://www.kadaster.nl/schemas/Services/BagVsRaadplegenDatumNUM_v20090901/opvragenNummeraanduidingByNumIdAndActueelOrPeildatum"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fout">
				<soap:fault name="fout" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation
			name="opvragenNummeraanduidingMetAdresseerbaarobjectByNumIdAndActueelOrPeildatum">
			<soap:operation
				soapAction="http://www.kadaster.nl/schemas/Services/BagVsRaadplegenDatumNUM_v20090901/opvragenNummeraanduidingMetAdresseerbaarobjectByNumIdAndActueelOrPeildatum"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fout">
				<soap:fault name="fout" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation
			name="zoekenNummeraanduidingByPostcodeHuisnummerAndActueelOrPeildatum">
			<soap:operation
				soapAction="http://www.kadaster.nl/schemas/Services/BagVsRaadplegenDatumNUM_v20090901/zoekenNummeraanduidingByPostcodeHuisnummerAndActueelOrPeildatum"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fout">
				<soap:fault name="fout" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BagVsRaadplegenDatumNUM_v20090901">
		<wsdl:port name="BagVsApdNumHTTPPort"
			binding="bagVsApdNum:BagVsApdNumSOAPBinding">
			<soap:address
				location="http://www.baglv.nl/Verstrekkingen/20090901/RaadplegenDatumNUM" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
