huidig-productie-reva/reva/reva-bag/reva-bag-service/src/main/catalog/bag-verstrekkingen/bevragingen-apd/v20090901/BagvsRaadplegenDatumPND-1.3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	xmlns:bagVsApdP="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-apd/v20090901"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:antwoord-APD-Pand="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-apd/v20090901"
	xmlns:antwoord-APD-Pand-VBO="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-apd/v20090901"
	xmlns:vraag-APD-Pand-ID="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-apd/v20090901"
	xmlns:fout="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-fout/v20090901"
	name="BagVsRaadplegenDatumPND_v20090901"
	targetNamespace="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-apd/v20090901">
	<wsdl:types>
		<xsd:schema>
			<xsd:import
				namespace="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-apd/v20090901"
				schemaLocation="BagvsBevragingenAntwoordberichtApdPND-1.3.xsd" />
			<xsd:import
				namespace="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-apd/v20090901"
				schemaLocation="BagvsBevragingenAntwoordberichtApdPNDVBO-1.3.xsd" />
			<xsd:import
				namespace="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-apd/v20090901"
				schemaLocation="BagvsBevragingenVraagberichtApdPNDID-1.3.xsd" />
			<xsd:import
				namespace="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-apd/v20090901"
				schemaLocation="BagvsBevragingenVraagberichtApdPNDVBOID-1.3.xsd" />
			<xsd:import
				namespace="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-fout/v20090901"
				schemaLocation="../../bevragingen-fout/v20090901/ApplicatieFout-1.3.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="opvragenResponse">
		<wsdl:part name="response1"
			element="antwoord-APD-Pand:Antwoordbericht-APD-PND" />
	</wsdl:message>
	<wsdl:message name="opvragenResponse2">
		<wsdl:part name="response2"
			element="antwoord-APD-Pand:Antwoordbericht-APD-PND-VBO" />
	</wsdl:message>
	<wsdl:message name="opvragenRequest">
		<wsdl:part name="request1"
			element="vraag-APD-Pand-ID:Vraagbericht-APD-PND-ID" />
	</wsdl:message>
	<wsdl:message name="opvragenRequest2">
		<wsdl:part name="request2"
			element="vraag-APD-Pand-ID:Vraagbericht-APD-PND-VBO-ID" />
	</wsdl:message>
	<wsdl:message name="applicatieException">
		<wsdl:part name="fout" element="fout:ApplicatieFout" />
	</wsdl:message>
	<wsdl:portType name="IBagVsRaadplegenDatumPND_v20090901">
		<wsdl:operation
			name="opvragenPandByPndIdAndActueelOrPeildatum">
			<wsdl:input message="bagVsApdP:opvragenRequest" />
			<wsdl:output message="bagVsApdP:opvragenResponse" />
			<wsdl:fault name="fout"
				message="bagVsApdP:applicatieException" />
		</wsdl:operation>
		<wsdl:operation
			name="opvragenPandMetVerblijfsobjectByPndIdAndActueelOrPeildatum">
			<wsdl:input message="bagVsApdP:opvragenRequest2" />
			<wsdl:output message="bagVsApdP:opvragenResponse2" />
			<wsdl:fault name="fout"
				message="bagVsApdP:applicatieException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BagVsApdPndSOAPBinding"
		type="bagVsApdP:IBagVsRaadplegenDatumPND_v20090901">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation
			name="opvragenPandByPndIdAndActueelOrPeildatum">
			<soap:operation
				soapAction="http://www.kadaster.nl/schemas/Services/BagVsRaadplegenDatumPND_v20090901/opvragenPandByPndIdAndActueelOrPeildatum"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fout">
				<soap:fault name="fout" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation
			name="opvragenPandMetVerblijfsobjectByPndIdAndActueelOrPeildatum">
			<soap:operation
				soapAction="http://www.kadaster.nl/schemas/Services/BagVsRaadplegenDatumPND_v20090901/opvragenPandMetVerblijfsobjectByPndIdAndActueelOrPeildatum"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fout">
				<soap:fault name="fout" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BagVsRaadplegenDatumPND_v20090901">
		<wsdl:port name="BagVsApdPndHTTPPort"
			binding="bagVsApdP:BagVsApdPndSOAPBinding">
			<soap:address
				location="http://www.baglv.nl/Verstrekkingen/20090901/RaadplegenDatumPND" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
