huidig-productie-reva/reva/reva-bag/reva-bag-service/src/main/catalog/bag-verstrekkingen/bevragingen-apd/v20090901/BagvsRaadplegenDatumWPL-1.3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	xmlns:bagVsApdWp="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-apd/v20090901"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:antwoord-APD-WPL="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-apd/v20090901"
	xmlns:vraag-APD-WPL-ID="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-apd/v20090901"
	xmlns:vraag-APD-WPL-Naam="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-apd/v20090901"
	xmlns:fout="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-fout/v20090901"
	name="BagVsRaadplegenDatumWPL_v20090901"
	targetNamespace="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-apd/v20090901">
	<wsdl:types>
		<xsd:schema>
			<xsd:import
				namespace="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-apd/v20090901"
				schemaLocation="BagvsBevragingenAntwoordberichtApdWPL-1.3.xsd" />
			<xsd:import
				namespace="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-apd/v20090901"
				schemaLocation="BagvsBevragingenVraagberichtApdWPLID-1.3.xsd" />
			<xsd:import
				namespace="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-apd/v20090901"
				schemaLocation="BagvsBevragingenVraagberichtApdWPLNaam-1.3.xsd" />
			<xsd:import
				namespace="http://www.kadaster.nl/schemas/bag-verstrekkingen/bevragingen-fout/v20090901"
				schemaLocation="../../bevragingen-fout/v20090901/ApplicatieFout-1.3.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="opvragenResponse">
		<wsdl:part name="response1"
			element="antwoord-APD-WPL:Antwoordbericht-APD-WPL" />
	</wsdl:message>
	<wsdl:message name="opvragenResponse2">
		<wsdl:part name="response2"
			element="antwoord-APD-WPL:Antwoordbericht-APD-WPL" />
	</wsdl:message>
	<wsdl:message name="opvragenRequest">
		<wsdl:part name="request1"
			element="vraag-APD-WPL-ID:Vraagbericht-APD-WPL-ID" />
	</wsdl:message>
	<wsdl:message name="opvragenRequest2">
		<wsdl:part name="request2"
			element="vraag-APD-WPL-Naam:Vraagbericht-APD-WPL-Naam" />
	</wsdl:message>
	<wsdl:message name="applicatieException">
		<wsdl:part name="fout" element="fout:ApplicatieFout" />
	</wsdl:message>
	<wsdl:portType name="IBagVsRaadplegenDatumWPL_v20090901">
		<wsdl:operation
			name="opvragenWoonplaatsByWplIdAndActueelOrPeildatum">
			<wsdl:input message="bagVsApdWp:opvragenRequest" />
			<wsdl:output message="bagVsApdWp:opvragenResponse" />
			<wsdl:fault name="fout"
				message="bagVsApdWp:applicatieException" />
		</wsdl:operation>
		<wsdl:operation
			name="zoekenWoonplaatsByNaamAndActueelOrPeildatum">
			<wsdl:input message="bagVsApdWp:opvragenRequest2" />
			<wsdl:output message="bagVsApdWp:opvragenResponse2" />
			<wsdl:fault name="fout"
				message="bagVsApdWp:applicatieException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BagVsApdWplSOAPBinding"
		type="bagVsApdWp:IBagVsRaadplegenDatumWPL_v20090901">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation
			name="opvragenWoonplaatsByWplIdAndActueelOrPeildatum">
			<soap:operation
				soapAction="http://www.kadaster.nl/schemas/Services/BagVsRaadplegenDatumWPL_v20090901/opvragenWoonplaatsByWplIdAndActueelOrPeildatum"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fout">
				<soap:fault use="literal" name="fout"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation
			name="zoekenWoonplaatsByNaamAndActueelOrPeildatum">
			<soap:operation
				soapAction="http://www.kadaster.nl/schemas/Services/BagVsRaadplegenDatumWPL_v20090901/zoekenWoonplaatsByNaamAndActueelOrPeildatum"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fout">
				<soap:fault use="literal" name="fout"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BagVsRaadplegenDatumWPL_v20090901">
		<wsdl:port name="BagVsApdWplHTTPPort"
			binding="bagVsApdWp:BagVsApdWplSOAPBinding">
			<soap:address
				location="http://www.baglv.nl/Verstrekkingen/20090901/RaadplegenDatumWPL" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
